@import "tailwindcss";

/* lenis custom css */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

@theme {
  --color-custom-cy: #17f1d1;
  --color-custom-dark: #0e100f;
  --color-custom-text: #ffffe3;
  --color-custom-violet: #a374ff;
  --color-custom-orange: #ffce75;
  --color-custom-border: #ffffe325;
  --color-custom-black: #191917;
  --color-custom-blue: #00bad5;
  --color-custom-pink: #fec5fb;
  --color-custom-orange-strong: #EC003F;
  --color-custom-green: #0ae448;
}

.thin-bottom-border {
  border-bottom: 1px solid #ffffe325;
}
.thin-top-border {
  border-top: 1px solid #ffffe325;
}
.thin-border {
  border: 1px solid #ffffe325;
}
.thin-border-line {
  border-top: 1px solid #ffffe325;
  width: 100%;
  margin-right: 10px;
}
.no-scroll {
  overflow: hidden;
  height: 100vh;
}
